:root {
    --primary-color: #151D3B;
    --secondary-color: #D82148;
    --tertiary-color: #357a4d;
    --quaternary-color: #dadbbd;
    --heading-fonts: 50px;
    --content-section-border: 4px solid var(--primary-color);
    --heading-border: 2px solid var(--tertiary-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

body {
    color: var(--primary-color);
    font-family: 'Times New Roman', Times, serif;
}

header {
    background-color: var(--primary-color);    
    padding: 0;
    text-align: center;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    top: 0;
    z-index: 999;
}

header h1 {
    margin: 10px 0 0 0;
    width: 100%;
    font-size: 45px;
    color: var(--secondary-color);
    height: 50%;
}

header nav {
    width: 100%;
    height:50%;
    display: flex;
    justify-content: center;
}

header nav ul {
    margin: 0 0 0 0;
    width: 75%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}

header nav ul li {
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

header nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

header nav ul li a:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.about-me, .resume {
    width: 100%;
    height: 450px;
    margin: 0;
    padding: 10px;
    border-bottom: var(--content-section-border);
}

.hero {
    background-color: var(--quaternary-color);
    border-bottom: var(--content-section-border);
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: none;
}

.hero-image {
    text-align: center;
    margin: 25px;
    width: 45%;
    height: 100%;
}

.hero-image img {
    border: 5px solid var(--quaternary-color);
    outline: 5px solid var(--primary-color);
    height: 75%;
    width: 75%;
    border-radius: 50%;
}

.hero-text {
    width: 55%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex: 1;
}
.hero h2{
    border: none;
}

.hero span {
    color: var(--secondary-color);
}

.about-me {
    background-color: var(--quaternary-color);
    color: var(--primary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
}

.about-me h2{
    border-bottom: var(--heading-border);
    padding: 40px;
    width: 60%;
    font-size: 40px;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-me-text {
    padding: 25px;
    height: 80%;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.about-me p {
    text-align: center;
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
}

.resume {
    background-color: var(--quaternary-color);
    color: var(--primary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
}

.resume h2{
    border-bottom: var(--heading-border);
    width: 60%;
    padding: 40px;
    font-size: 40px;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resume-details {
    width: 75%;
    height: 80%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.resume-half {
    height: 100%;
    width: 50%;
    line-height: 1.5;
}

.resume-half h3 {
    margin-left: 85px;
    font-size:32px;
}
.resume-half ul {
    margin-left: 125px;
    font-size: 25px;
}

.projects {
    border-bottom: var(--content-section-border);
    background-color: var(--quaternary-color);
    color: var(--primary-color);
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
}

.projects h2 {
    border-bottom: var(--heading-border);
    padding: 30px;
    width: 60%;
    font-size: 40px;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-cards {
    
    width: 100%;
    height: 80%;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main-card {
    margin: 12.5px;
    border: 10px solid var(--tertiary-color);
    max-width: 75%;
    max-height: 40%;
    display: flex;
}

.main-card:hover {
    opacity: 0.5;
}

.main-card img {
    width: 100%
}

.small-card-container {
    /* margin: 10px; */
    max-width: 75%;
    max-height: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
}

.small-card-container div {
    max-width: 50%;
    height: auto; 
    border: 10px solid var(--tertiary-color);
}

.small-card-container div:hover {
    opacity: 0.5;
}
.small-card-container img {
    width: 100%;
    height: 100%;
}

.contact-me {
    border-bottom: var(--content-section-border);
    width: 100%;
    height: auto;
    margin: 0;
    padding: 10px;
    background-color: var(--quaternary-color);
    color: var(--primary-color);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-image: none;
}

.contact-me h2 {
    border-bottom: var(--heading-border);
    width: 60%;
    padding: 40px;
    font-size: 40px;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-container {
    width: 80%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact-cards {
    text-decoration: none;
    padding: 5px;
    max-width: 33%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.contact-cards:hover {
    border: 5px solid var(--tertiary-color);
    padding: 0;
}

.contact-cards img {
    width: 65%;
    height: 65%;
}

.contact-me h4 {
    font-size: 25px;
    width: 100%;
    text-align: center;
}

.contact-me a {
    text-decoration: none;
    color: var(--primary-color);
}

.contact-me a:visited {
    text-decoration: none;
    color: var(--primary-color);
}

@media screen and (min-width: 1200px) {
    header nav ul li a {
        font-size: 32px;
    }    
    
    header nav ul {
        width: 1000px;
    }

    .hero-image {
        width: 550px;
    }
}

@media screen and (max-width: 1200px) {
    header nav ul li a {
        font-size: 30px;
    }
}

@media screen and (max-width: 980px) {
    header nav ul li a {
        font-size: 25px; 
    }

    .hero h2 {
        font-size: 25px;
    }
}

@media screen and (max-width: 768px) {
    header h1 {
        font-size: 37px;
    }


    header nav ul li a {
        font-size: 20px;
    }

    .hero {
        justify-content: space-around;
    }
    .hero h2 {
        font-size: 17px;
    }
}

@media screen and (max-width: 575px) {
    header h1 {
        font-size: 32px;
    }
    header nav ul li a {
        font-size: 18px; 
    }

    .hero {
        justify-content: space-evenly;
    }
    .hero-image img {
        border: 3px solid var(--quaternary-color);
        outline: 3px solid var(--primary-color);
    }
    .hero h2 {
        font-size: 15px;
    }
}








