/*custom properties*/
:root {
    --primary-color: #151D3B;
    --secondary-color: #D82148;
    --tertiary-color: #357a4d;
    --quaternary-color: #dadbbd;
    --heading-fonts: 50px;
    --content-section-border: 4px solid var(--primary-color);
    --heading-border: 2px solid var(--tertiary-color);
}
/*universal and general stylings*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

body {
    color: var(--primary-color);
    font-family: 'Times New Roman', Times, serif;
}

/*top header styling*/
header {
    background-color: var(--primary-color);    
    padding: 0;
    text-align: center;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    top: 0;
    z-index: 999;
}

header h1 {
    margin: 10px 0 0 0;
    width: 100%;
    font-size: 45px;
    color: var(--secondary-color);
    height: 50%;
}

header nav {
    width: 100%;
    height:50%;
    display: flex;
    justify-content: center;
}

header nav ul {
    margin: 0 0 0 0;
    width: 75%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}

header nav ul li {
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

header nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

header nav ul li a:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

/*Banner section called 'hero'*/
.hero {
    background-color: var(--quaternary-color);
    border-bottom: var(--content-section-border);
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: none;
}

.hero-image {
    text-align: center;
    margin: 25px;
    max-width: 45%;
    height: 100%;
}

.hero-image img {
    border: 5px solid var(--quaternary-color);
    outline: 5px solid var(--primary-color);
    height: 75%;
    width: 75%;
    border-radius: 50%;
}

.hero-text {
    max-width: 55%;
    height: auto;
    margin: 10px;
    text-align: center;
    flex: 1;
}
.hero h2{
    border: none;
}

.hero span {
    color: var(--secondary-color);
}

/*About Me section*/
.about-me {
    background-color: var(--quaternary-color);
    border-bottom: var(--content-section-border);
    color: var(--primary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
}

.about-me h2{
    border-bottom: var(--heading-border);
    padding: 25px;
    width: 60%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.about-me-text {
    padding: 25px;
    height: 80%;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.about-me p {
    text-align: center;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
}

/*Resume section*/
.resume {
    background-color: var(--quaternary-color);
    border-bottom: var(--content-section-border);
    color: var(--primary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
}

.resume h2{
    border-bottom: var(--heading-border);
    width: 60%;
    padding: 25px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.resume-details {
    width: 75%;
    height: 80%;
    margin-top: 10px;
    margin-left: 15%;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.resume-half {
    height: 100%;
    width: 50%;
    line-height: 1.5;
}

.resume-half h3 {
    margin-left: 20px;
    font-size:32px;
}
.resume-half ul {
    margin-left: 40px;
    font-size: 25px;
}

/*Projects section*/
.projects {
    border-bottom: var(--content-section-border);
    background-color: var(--quaternary-color);
    color: var(--primary-color);
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
}

.projects h2 {
    border-bottom: var(--heading-border);
    padding: 25px;
    width: 60%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-cards {
    width: 100%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main-card {
    margin: 12.5px;
    border: 7px solid var(--primary-color);
    width: 60%;
    height: auto;
    display: flex;
    justify-content: center;
    position: relative;
}
.main-card p {
    background-color: var(--primary-color);
    color: var(--quaternary-color);
    position: absolute;
    left: 0;
    top: 65%;
    padding: 5%;
    
}
.main-card:hover {
    opacity: 0.5;
}
.main-card img {
    width: 100%;
    height: 100%;
}
.small-card-container {
    margin-bottom: 10px;
    max-width: 75%;
    max-height: 65%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items:stretch;
    gap: 10px;
    
}
.small-card-container div {
    width: 48%;
    height: 50;
    border: 7px solid var(--primary-color);
    position: relative;
}

.small-card-container div:hover {
    opacity: 0.5;
}
.small-card-container img {
    width: 100%;
    height: 100%;
}

.small-card-container div p {
    background-color: var(--primary-color);
    color: var(--quaternary-color);
    position: absolute;
    left: 0;
    top: 65%;
    padding: 5%;
}

/*Contact Me section*/
.contact-me {
    border-bottom: var(--content-section-border);
    width: 100%;
    height: auto;
    background-color: var(--quaternary-color);
    color: var(--primary-color);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-image: none;
}

.contact-me h2 {
    border-bottom: var(--heading-border);
    padding: 25px;
    width: 60%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-container {
    width: 75%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.contact-cards {
    text-decoration: none;
    padding: 5px;
    max-width: 33%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
}

.contact-cards:hover {
    border: 5px solid var(--tertiary-color);
    padding: 0;
}

.contact-cards img {
    width: 65%;
    height: 65%;
}

.contact-me h4 {
    width: 100%;
    text-align: center;
}

.contact-me a {
    text-decoration: none;
    color: var(--primary-color);
}

.contact-me a:visited {
    text-decoration: none;
    color: var(--primary-color);
}

@media screen and (min-width: 1200px) {
    header nav ul li a {
        font-size: 32px;
    }    
    
    header nav ul {
        width: 1000px;
    }

    .hero h2 {
        font-size: 32px;
    }
    .hero-image {
        width: 550px;
    }

    .about-me, .resume {
        align-items: stretch;
    }
    .about-me h2, .resume h2, .projects h2, .contact-me h2 {
        font-size: 37px;
        flex: 1 1 35%;        
        border-bottom: none;
        border-right: 2px solid var(--tertiary-color);
        min-width: 30%;
        padding: 129px;
    }

    .about-me-text {
        flex: 1 1 65%;
        padding: 50px;
    }

    .about-me p, .resume-half ul {
        font-size: 27px;
    }

    .resume-details {
        flex: 1 1 65%;
        padding: 50px;
        margin-left: 0;
        margin-top: 0;
    }

    .project-cards {
        flex: 1 1 65%;
        padding: 50px;
    }
   
    .contact-container {
        flex: 1 1 65%;
    }
    .contact-me h4 {
        font-size: 27px;
    }
}

@media screen and (max-width: 1200px) {
    header nav ul li a {
        font-size: 30px;
    }

    .hero h2 {
        font-size: 30px;
    }
    .about-me h2, .resume h2, .projects h2, .contact-me h2 {
        font-size: 36px;

    }

    .about-me p, .resume-half ul{
        font-size: 25px;
    }

    .about-me-text {
        
        padding: 40px;
    }
    .contact-me h4 {
        font-size: 25px;
    }
}

@media screen and (max-width: 980px) {
    header nav ul li a {
        font-size: 25px; 
    }

    
    .hero h2 {
        font-size: 25px;
    }

    .about-me h2, .resume h2, .projects h2, .contact-me h2 {
        font-size: 35px;
    }   
    .about-me p, .resume-half ul{
        font-size: 22px;
    }
    .contact-me h4 {
        font-size: 20px;
    }
}

@media screen and (max-width: 768px) {
    header h1 {
        font-size: 37px;
    }

    header nav ul li a {
        font-size: 20px;
    }  

    .hero {
        justify-content: space-around;
    }
    .hero h2 {
        font-size: 19px;
    }
    
    .about-me h2, .resume h2, .projects h2, .contact-me h2 {
        font-size: 32px;
    }

    .about-me p, .resume-half ul{
        font-size: 22px;
    }
    .resume-details{
        width: 100%;
    }
    .resume-half h3 {
        margin-left: 40px;
    }
    .resume-half ul {
        margin-left: 60px;
    }

    .contact-me h4 {
        font-size: 17px;
    }
}

@media screen and (max-width: 575px) {
    header h1  {
        font-size: 32px;
    }
    
    header nav ul li a {
        font-size: 18px; 
    }
 
    .hero {
        justify-content: space-evenly;
    }
    .hero-image img {
        border: 3px solid var(--quaternary-color);
        outline: 3px solid var(--primary-color);
    }
    .hero h2 {
        font-size: 15px;
    }
    
    .about-me h2, .resume h2, .projects h2, .contact-me h2{
        font-size: 27px;
    }
    .about-me p, .resume-half ul{
        font-size: 20px;
    }
    
    .contact-me h4 {
        font-size: 12px;
    }
}







