:root {
    --primary-color: #151D3B;
    --secondary-color: #D82148;
    --tertiary-color: #357a4d;
    --quaternary-color: #dadbbd;
    --heading-fonts: 50px;
    --content-section-border: 4px solid var(--primary-color);
    --heading-border: 2px solid var(--tertiary-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

body {
    color: var(--primary-color);
    font-family: 'Times New Roman', Times, serif;
}

header {
    background-color: var(--primary-color);    
    padding: 0;
    text-align: center;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    top: 0;
    z-index: 999;
}

header h1 {
    margin: 10px 0 0 0;
    width: 100%;
    font-size: var(--heading-fonts);
    color: var(--secondary-color);
    height: 50%;
}

header nav {
    width: 100%;
    height:50%;
    display: flex;
    justify-content: center;
}

header nav ul {
    margin: 0 0 0 0;
    width: 75%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}

header nav ul li {
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

header nav ul li a {
    text-decoration: none;
    font-weight: bold;
    font-size: 3vw;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

}

header nav ul li a:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

/* #content {
     
}*/

.hero, .about-me, .resume {
    width: 100%;
    height: 450px;
    margin: 0;
    padding: 10px;
    border-bottom: var(--content-section-border);
}

.hero {
    background-color: var(--quaternary-color);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: none;
}

.hero-image {
    text-align: center;
    height: 350px;
    width: 350px;
}

.hero-image img {
    border: 5px solid var(--primary-color);
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.hero h2{
    border: none;
}

.hero div {
    margin: 0 25px 20px 0;
    border: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.hero span {
    color: var(--secondary-color);
}

.about-me {
    background-color: var(--quaternary-color);
    color: var(--primary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
}

.about-me h2{
    border-bottom: var(--heading-border);
    padding: 40px;
    width: 60%;
    font-size: 40px;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-me-text {
    padding: 25px;
    height: 80%;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.about-me p {
    text-align: center;
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
}

.resume {
    background-color: var(--quaternary-color);
    color: var(--primary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
}

.resume h2{
    border-bottom: var(--heading-border);
    width: 60%;
    padding: 40px;
    font-size: 40px;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resume-details {
    width: 100%;
    height: 80%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.resume-half {
    height: 100%;
    width: 50%;
    font-size: 2.5vw;
    line-height: 175%;
}

.resume-half h3 {
    margin-left: 58px;
}
.resume-half ul {
    margin-left: 83px;
    font-size: 80%;
}

.projects {
    border-bottom: var(--content-section-border);
    background-color: var(--quaternary-color);
    color: var(--primary-color);
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
}

.projects h2 {
    border-bottom: var(--heading-border);
    padding: 30px;
    width: 60%;
    font-size: 40px;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-cards {
    
    width: 100%;
    height: 80%;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main-card {
    margin: 12.5px;
    border: 10px solid var(--tertiary-color);
    max-width: 75%;
    max-height: 40%;
    display: flex;
}

.main-card img {
    width: 100%
}

.small-card-container {
    /* margin: 10px; */
    max-width: 75%;
    max-height: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
}

.small-card-container div {
    max-width: 50%;
    height: auto; 
    border: 10px solid var(--tertiary-color);
    
}
.small-card-container img {
    width: 100%;
    height: 100%;
}

.contact-me {
    border-bottom: var(--content-section-border);
    width: 100%;
    height: 350px;
    margin: 0;
    padding: 10px;
    background-color: var(--quaternary-color);
    color: var(--primary-color);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-image: none;
}

.contact-me h2 {
    border-bottom: var(--heading-border);
    width: 60%;
    padding: 40px;
    font-size: 40px;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-container {
    width: 80%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact-cards {
    text-decoration: none;
    max-width: 33%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.contact-cards img {
    width: 65%;
    height: 65%;
}

.contact-me h4 {
    font-size: 25px;
    width: 100%;
    text-align: center;
}

.contact-me a {
    text-decoration: none;
    color: var(--primary-color);
}

.contact-me a:visited {
    text-decoration: none;
    color: var(--primary-color);
}